.navbar-default {
  background-image:-webkit-linear-gradient(top,#060606 0,#070707 100%);
  background-image:-o-linear-gradient(top,#fff 0,#f8f8f8 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#040404),to(#070707));
  background-image:linear-gradient(to bottom,#070707 0,#222222 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat:repeat-x;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.navbar-default {
  background-color:rgba(248,248,248,0);
  border-color:rgba(231,231,231,0);
}

.navbar {
  position:relative;
  min-height:60px;
  margin-bottom:20px;
  border:1px solid transparent;
}

.row {
  margin-right:-15px;
  margin-left:-15px;
  margin-top:10px;
}

#btnCollapse {
  color:#fcfbfb;
}

.numInput {
  background:#222222;
  border-color:#939191;
  width:100%;
  border-radius:5px;
  color:#bb3a02;
  border-width:thin;
  outline:0;
}

#colOne {
  width:50%;
}

p {
  margin:0 auto;
  font-size:16px;
}

.btn.btn-default {
  font-size:16px;
}

.btn.btn-default {
  width:100%;
  margin-top:1%;
  margin-bottom:1%;
  background-color:#222222;
}

input[type=range] {
  margin-top:2%;
  margin-bottom:2%;
}

@media (min-width:769px) {
  .container {
    width:720px;
  }
}

@media (min-width:769px) {
  .col-md-12.col-xs-12 {
    width:720px;
  }
}

.col-md-12.col-xs-8 {
  background-color:rgba(34,34,34,0);
}

@media (min-width:769px) {
  .col-md-12.col-xs-4 {
    width:33%;
  }
}

@media (min-width:769px) {
  .col-md-12.col-xs-8 {
    width:66%;
  }
}

#colSelect, #isOnline, .colAlignCenter {
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn.btn-default {
  background-image:none;
  outline:0;
}

.input-sm {
  outline:0;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline-offset:-2px;
  outline:0;
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
}

#selectBtn {
  font-size: 16px;
}

.textDesc {
  font-weight: bold;
}

.colLeftValign {
  display:flex;
  justify-content:center;
  align-items:center;
}