<!DOCTYPE html>
<html>

<head>
	<title>Web Thing Authentication</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/docs.min.css">
	<style class="anchorjs"></style>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

</head>

<body>
	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<div class="container bs-docs-container">
				<h1>Login</h1>
				<p>Enter your password to get access to your Web Thing</p>
			</div>
		</div>
	</div>
	<div class="container bs-docs-container">
		<div class="row">
			<div class="col-md-9" role="main">
				<div class="bs-docs-section">
					<p>
						<!-- show any messages that come back with authentication -->
						<% if (message.length > 0) { %>
							<div class="alert alert-danger">
								<%= message %>
							</div>
							<% } %>
					</p>
					<form action="/login" method="post">
						<div hidden class="form-group">
							<label>Username:</label>
							<input type="text" class="form-control" name="username" value="Heimdall" /><br/>
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input type="password" class="form-control" name="password" />
						</div>
						<div>
							<input type="submit" value="Submit" />
						</div>
					</form>
				</div>
				<div class="bs-docs-section">
					<a href="/reset" onclick="return confirm('Are you sure you want to reset all passwords to factory settings?')" class="btn btn-default btn-sm">Reset password to factory settings</a>
					<a href="/connectWiFi" class="btn btn-default btn-sm">Connect to an existing WiFi</a>
					<a href="/startHotspot" onclick="return confirm('Are you sure you want to reset the gateway to hotspot mode?')" class="btn btn-default btn-sm">Activate WiFi Hotspot</a>
				</div>
			</div>
		</div>
	</div>

	<footer class="bs-docs-footer" role="contentinfo">
		<div class="container">

			<p>NTB Interstate University of Applied Sciences of Technology Buchs</p>

		</div>
	</footer>
</body>

</html>