<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Sauna</title>
    <link rel="stylesheet" href="sauna/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="sauna/assets/css/styles.css">
    <link rel="stylesheet" href="sauna/assets/css/switch.css">
    <link rel="manifest" href="sauna/assets/manifest.json">
</head>

<body style="background-color:#222222;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link"><img src="sauna/assets/img/adlos-logo.png"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/profile">Profile Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Saunagang</p>
                </div>
                <div class="col-md-12 col-xs-8" id="colSelect">
                    <select class="input-sm" id="selectBtn" style="height:41px;width:100%;background-color:#222222;color:rgb(255,254,254);">
                        <option value="finarium">Finarium</option>
                        <option value="dampfbad">Dampfbad</option>
                        <option value="warmluftbad">Warmluftbad</option>
                    </select>
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p class="textDesc" style="color:rgb(252,251,251);">Eigenschaft</p>
                </div>
                <div class="col-md-12 col-xs-4">
                    <p class="colAlignCenter textDesc" style="color:rgb(252,251,251);">Aktuell</p>
                </div>
                <div class="col-md-12 col-xs-4">
                    <p class="colAlignCenter textDesc" style="color:rgb(252,251,251);">Soll </p>
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Temperatur in °C</p>
                </div>
                <div class="col-md-12 col-xs-4">
                    <input class="input-lg numInput" name="tempActual" readonly="" min="0" max="150" id="currTemp">
                </div>
                <div class="col-md-12 col-xs-4">
                    <input class="input-lg numInput" type="number" name="tempSet" min="50" max="100" step="5" id="targetTemp">
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Luftfeuchtigkeit in %</p>
                </div>
                <div class="col-md-12 col-xs-4">
                    <input class="input-lg numInput" name="tempActual" readonly="" min="0" max="150" id="currHum">
                </div>
                <div class="col-md-12 col-xs-4">
                    <input class="input-lg numInput" type="number" name="tempSet" min="0" max="100" step="5" id="targetHum">
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Gangdauer in min</p>
                </div>
                <div class="col-md-12 col-xs-4">
                    <input class="input-lg numInput" name="tempActual" readonly="" min="0" max="150" id="currDur">
                </div>
                <div class="col-md-12 col-xs-4">
                    <input class="input-lg numInput" type="number" name="tempSet" min="5" max="120" step="5" id="targetDur">
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Lichtstufe</p>
                </div>
                <div class="col-md-12 col-xs-8">
                    <input type="range" value="0" min="0" max="8" step="1" id="levelLight">
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Starten</p>
                </div>
                <div class="col-md-12 col-xs-8" id="colSwitch">
                    <input type="checkbox" id="switchSauna">
                    <label for="switchSauna">Toggle </label>
                </div>
            </div>
            <div class="row colLeftValign">
                <div class="col-md-12 col-xs-4">
                    <p style="color:rgb(252,251,251);">Status</p>
                </div>
                <div class="col-md-12 col-xs-8" id="colIsOnline">
                    <p id="isOnline"> </p>
                </div>
            </div>
        </div>
    </div>
    <script src="sauna/assets/js/jquery.min.js"></script>
    <script src="sauna/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="sauna/assets/js/SaunaApplication.js"></script>

</body>

</html>